.menu {
    height: 100%;
}

.logo {
    font-size: 60px;
    font-weight: bolder;
    color: var(--primary);
    letter-spacing: -2px;
}

.sider {
    height: 100%;
    background-color: var(--backgroundDark) !important;
    width: 250px !important;
    min-width: 250px !important;
    padding: 24px;
}

.sider [class*='ant-layout-sider-children'] {
    height: 100%;
}

.container {
    background-color: var(--secondary);
    /* height: calc(100vh - 250px); */
    width: calc(100% - 250px);
    position: absolute;
    left: 250px;
    top: 250px;
    padding: 48px;
    height: auto;
    min-height: 100%;
}

.logout {
    position: absolute;
    font-weight: bold;
    bottom: 24px;
    color: var(--accent);
}