.grid {
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-gap: 10px; /* Gap between cards */
}

.card {
    background-color: var(--background);
    padding: 24px;
    width: 33%;
    border-radius: 4px;
    margin-bottom: 24px;
}

.addButton {
    background-color: var(--accent);
    color: var(--text);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.submit {
    width: 230px;
}

.description {
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.title {
    color: white;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 12px;
}

.modal [class*='ant-modal-content']{
    padding: 48px 32px;
    width: 600px;
}

.modal [class*='ant-modal-title'] {
    font-size: 32px;
    margin-bottom: 32px;
    font-weight: bold;
    text-align: center;
}

.footer {
    text-align: center;
}